<mat-nav-list class="sidenav">
    <a mat-list-item routerLink="/home">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a *ngIf="!hasloggedin" mat-list-item (click)="login()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Login/SignUp</span>
    </a>
    <a *ngIf="hasloggedin" mat-list-item (click)="logout()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Logout</span>
    </a>
    <a mat-list-item routerLink="#">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">About</span>
    </a>
    <a *ngIf="hasloggedin" mat-list-item (click)="viewProfile()">
        <mat-icon>person</mat-icon> <span class="nav-caption">View Profile</span>
    </a>
</mat-nav-list>